#header
  %p
    You are:
    %a{ href: user_path(current_user) }
      = current_user.name
  .slicknav-container
    .slicknav
    %ul#menu{ style: "display:none;" }
      %li= link_to 'Home', root_path
      - if policy(User).index?
        %li= link_to 'Users', users_path
      - if policy(Diagram).create?
        %li
          Diagrams
          %ul
            %li= link_to 'List', diagrams_path
            %li= link_to 'Create', new_diagram_path
      - else
        %li= link_to 'Diagrams', diagrams_path
      - if current_user.super_admin
        %li= link_to 'Institutions', institutions_path
      %li= link_to 'Sign out', destroy_user_session_path, method: :delete

  %h1#site_title
    = link_to "Ribbon Tool", root_path
%h2 Listing institutions

%table.datatable.responsive.no-wrap
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @institutions.each do |institution|
      %tr
        %td= institution.name
        %td= link_to 'Show', institution
        %td= link_to 'Edit', edit_institution_path(institution)
        %td= link_to 'Destroy', institution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Institution', new_institution_path
